:root {
  --primary: #451310;
  --secondary: #797064;
  --tertiary: #B7A68E;
  --quaternary: #89949e;
  --quinary: #F8F8F8;
  --light-primary: #451411;
  --white: #ffffff;
  --black: #000000;
  --padding: 20px;
  --neg-padding: -20px;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

a{
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background-color: var(--quinary);
  overflow-x: hidden;
}

h1{
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 1.875rem;
  color: var(--primary);
  margin-block-start: 20px;
  text-align: center;
}

h2{
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 1.875rem;
  color: var(--primary);
  text-align: center;
}

h3{
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
h5{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

footer{
  padding-top: 15px;
  background-color: var(--primary);
}

footer a{
  color: var(--white);
  margin: auto;
  display: block;
  max-width: max-content;
  text-align: center;
  text-decoration: none;
}

header {
  position: relative;
  justify-content: space-between;
  padding: 1.5rem var(--padding) 0;
  background-color: var(--primary);
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

li{
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  }

p{
  font-size: 1.125rem;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
}

section {
  position: relative;
  padding: 0 var(--padding);
}


.active-dropdown::after{
  transform: rotate(180deg);
}
.active-dropdown-dt::after{
  transform: rotate(180deg);
  top: -4%!important;
}

.almond{
  background-color: #d5d1bf;
}
.black{
  background-color: #000001;
}

.big-text{
  font-size: 22px;
}
.big-p{
  font-size: 1.25rem;
  text-decoration: none;
}

.bold{
  font-weight: 700;
}
.brown{
  background-color: #4b3a34;
}
.bronze{
  background-color: #716d69;
}
.bronze-coil{
  background-color: #2b1c11;
}

.btn-main{
  background-color: var(--light-primary);
  padding: 8px 49px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--quinary);
  margin:10px auto;
  display: block;
  max-width: max-content;
  z-index: 5;
  position: relative;
  transition: all .5s;
  border: solid 2px var(--light-primary);
  white-space: nowrap;

}

.btn-main:hover{
  background-color: var(--quinary);
  color: var(--light-primary);

}

.btn-tan{
  background-color: var(--secondary);
  padding: 8px 28px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--quinary);
  margin: 10px auto;
  display: block;
  max-width: max-content;
  z-index: 5;
  position: relative;
  border: solid 2px var(--secondary);
  transition: all 0.5s;
  white-space: nowrap;
}

.btn-tan:hover{
  background-color: var(--quinary);
  color: var(--secondary);
}

.center-pos-pic{
  object-fit: cover;
  object-position: center;
}

.center{
  text-align: center;
}

.cedar-red{
  background-color: #5F0C04;
}

.cont-brown{
  background-color: #372718;
}

.charcoal{
  background-color: #474b4f;
}

.choice h2:not(.operators h2){
  background-color: var(--primary);
  color: var(--tertiary);
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 5px;
}

.choice-white-background h2{
  position: relative;
  top: -18px;
}
.choice h3{
  color: var(--primary);
  font-size: 1.06rem;
}

.choice-white-background{
  background-color: var(--white);
  margin-top: 18px;
  padding-bottom: 36px;
  margin-bottom: -36px;
}

.choices{
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
}

.choices img{
   width: 100%;
}

.charcoal{
  background-color: #474b4f;
}

.classic-woodgrain{
  background-image: url("/images/classic.jpg");
}
.modern-woodgrain{
  background-image: url("/images/modern.jpg");
}
.walnut{
  background-image: url("/images/walnut.jpg");
}
.driftwood{
  background-image: url("/images/driftwood.jpg");
}
.mahogany{
  background-image: url("/images/mahogany.jpg");
}
.cedar{
  background-image: url("/images/cedar.jpg");
}
.dark-oak{
  background-image: url("/images/dark-oak.jpg");
}
.natural-oak{
  background-image: url("/images/nat-oak.jpg");
}
.carbon-oak{
  background-image: url("/images/carbon.jpg");
}
.more{
  background-image: url("/images/call.jpeg")
}
.cobalt-blue{
  background-color: #2A2E5C;
}
.colony-green{
  background-color: #687D6C;
}

.color-choices{
  display: flex;
  flex-basis: 33%;
  gap: 5%;
  flex-wrap: wrap;
}
.choices>div{
  flex: 1;
  padding-bottom: 31px;
  position: relative;
  flex-basis: 140px;
}
.color-choices>div{
  flex: 1;
  margin-bottom:18px;
}

.contact-info{
  padding-bottom: 50px;
}


.contact-info p, .contact-info a{
  text-align: center;
  display: block;
  line-height: 1.5;
}

.contact-info p{
  margin-block-start: 0;
  margin-top: -6px;
  margin-block-end: 0;
}

.contact-info img{
  height: 70px;
  min-width: 250px;
  margin-top: -20px;
}

.color-choices>div>div{
  height: 92px;
  width: 100%;
  min-width: 92px;
  border-radius: 5px;
  background-size: cover;
  max-width: 96px;
}
.choices p, .color-choices p, .options-choices p{
  text-align: center;
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 20px;
  margin: auto;
}

.cheap::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 15px;
    color: var(--primary);
    font-family: 'Lato', sans-serif;
}
.economy::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 12px;
    color: var(--primary);
    font-family: 'Lato', sans-serif;
}
.premium::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$$$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 9px;
    color: var(--primary);
    font-family: 'Lato', sans-serif;
}
.expensive::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$$$$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 6px;
  color: var(--primary);
  font-family: 'Lato', sans-serif;
}

.desert-tan{
  background-color: #cdc5b1;
}
.des-tan{
  background-color: #C5AB92;
}
.des-sand{
  background-color: #968B75;
}


.details a{
  font-size: 10px;
}

.evergreen{
  background-color: #034834;
}
.evergreen-coil{
  background-color: #0F3027
}

.fern-green{
  background-color: #0A311E;
}

label{
  color: var(--secondary);
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all .1s ease-in-out;
  top: -0;
  left: 15px;
  font-size: 1.25rem;
  z-index: 1;
}

label:focus{
  opacity: 0;
}

input:not(.btn-main):not(.checkbox){
  width: 95%;
  height: 50px;
}

option, select{
  color: var(--secondary);
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  margin: 10px 0;
}

select {
  width: 50%;
  height: 50px;
}

textarea{
  width: 95%;
  height: 300px;
}

.checkbox-input div{
  position: relative;
}

.checkbox-input input{
  display: block;

}
.checkbox-input label{
  transform: unset;
  top: -3px;
  left: 40px;
}

.checkbox{
  height: 21px;
  width: 22px;
  margin-bottom: 10px;
}

.dropdown{
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.dropdown a{
  font-size: 1.25rem!important;
}

#dropdown-dt::after, #dropdown-com-dt::after, #dropdown-faq-dt::after{
  content: url(/images/arrow-down0.svg);
  position: absolute;
  right: -16px;
  top: 10%;
}

.dropdown-dt, .dropdown-com-dt, .dropdown-faq-dt{
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 25;
  background-color: white;
  top: 3rem;
  left: -2rem;
  width: 15rem;
  padding-bottom: 1rem;
}

.dt-header{
  background-color: var(--white);
  width: 100vw;
  height: 90px;
  margin: 0 var(--neg-padding);
  display: block;
  top: 2px;
  position: relative;
  padding-top: 8px;
}

.form-input{
  position: relative;
  margin: 20px 0;
}

.form-input label:not(.select), .form-input label:not(.date){
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.form-input.active label{
  transform: translate(0, -15px) scale(.75);
  color: var(--secondary);
}

.form-parent{
  max-width: 600px;
  margin: auto;
}

.input{
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  z-index: 0.5;
  position: relative;
}

.select{
  color: var(--primary);
  position: relative;
}

.select-input, .text-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  position: relative;
}


.footer-contact{
  margin-bottom: 30px;
}

.footer-logo img{
  display: block;
  margin: auto;
  height: 113px;
  width: 254px;
}

.footer-logo{
  width: 100vw;
  height: 90px;
  margin: 0 auto 40px;
  display: block;
  top: 2px;
  position: relative;
  padding-top: 8px;
  z-index: 10;
  max-width: 100vw;
}

.galvalume{
  background-image: url("/images/galvalume.jpg")
}

.gallery-section{
  padding-top: 46px;
  padding-bottom: 50px;
}

.glass p{
  max-width: 84%;
}
.glass p::after{
  right: -24px;
}
.glass img{
  max-height: 92px;
  border-radius: 5px;
}

.gloss-white{
  background-color: #EFF3F6;
}

.gray{
  background-color: #9d9fa2;
}

.graphite{
  background-color: #646363;
}

.half-height{
  height: 200px;
}

#haus img{
  height: 90px;
  margin-bottom: 87px;
}

.header-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}


.header-row-cont a{
  margin-left: auto;
}

.header-row-img img{
  max-width: 220px;
  margin-right: auto;
}

.hero img{
  height: 260px;
  width: 150%;
  position: relative;
  left: var(--neg-padding);
}

.heading{
  color: var(--black);
  text-align: center;
}
.heading a{
  margin-top: 32px;
  margin-bottom: 32px;
}

.heading-cheap, .heading-econ, .heading-prem, .heading-exp{
  position: relative;
  max-width: max-content;
  display: block;
}

.heading-cheap::after{
  position: absolute;
  top: 0;
  right: -12px;
  content: "$";
    color: #b7a68e;
    font-family: 'Lato', sans-serif;
}
.heading-econ::after{
  position: absolute;
  top: 0;
  right: -20px;
  content: "$$";
    color: #b7a68e;
    font-family: 'Lato', sans-serif;
}
.heading-prem::after{
  position: absolute;
  top: 0;
  right: -30px;
  content: "$$$";
    color: #b7a68e;
    font-family: 'Lato', sans-serif;
}
.heading-exp::after{
  position: absolute;
  top: 0;
  right: -38px;
  content: "$$$$";
    color: #b7a68e;
    font-family: 'Lato', sans-serif;
}

.hero--text p{
  color: var(--primary);
}

.hero--text{
  margin-bottom: 37px;
}

.hero--text p{
  margin-bottom: 40px;
}

.home-hero h1{
  font-size: 2.5rem;
  margin-block-end: 0;
}

.left-pos-pic{
  object-fit: cover;
  object-position: left;
}

.lg-green{
  background-color: #013C2F;
}

.light-stone{
  background-color: #D1C5AE;
}

.light-tan-text{
  color: var(--tertiary);
}

.logo img{
  height: 80%;
  margin: auto;
  display: block;
}



.logos img{
  max-width: 222px;
  height: 72px;
  display: block;
  margin: 62px auto 20px;
}
.liftmaster{
  height: 29px;
}

.menu{
  display: none;
}

.menu ul, .mobile-menu ul{
  list-style-type: none;
}

/* stroke */
.menu li a {
  position: relative;
  display: block;
  max-width: max-content;
}

.menu li a, .menu li a:after{
  transition: all .5s;
}
.menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.menu li a:hover:after {
  width: 100%;
}


.menu-header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.menu-items{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 50px;
}

.menu-items a, .dd-link{
  text-align: left;
  font-size: 1.69rem;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: var(--white);
  margin: 1rem 0;
  position: relative;
}

.menu-item-dd::after{
  position: absolute;
  content: url("/images/arrow-down.svg")
}

.mid-btn-border{
  padding-top: 80px;
  margin-top: -30px;
}

.mobile-menu{
  width: 0;
  height: 0;
  background-color: var(--primary);
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.ms-colors{
  padding-top: 35px;
  margin-top: -17px;
}

.phone-number{
  font-size: 1.75rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--quinary);
  text-decoration: none;
  transition: 0.5s;
}

.phone-number:hover{
  opacity: 0.5;
}

.options-choices{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
}
.options-choices>div{
  width: 48%;
  margin-bottom: 5px;
}

.options-choices img{
  max-width: 100%;
}

.polar-blue{
  background-color: #2F677E;
}

.profile{
  margin-bottom: 60px;
}

.profile-img{
  background-image: url("/images/circle.jpeg");
  background-size: contain;
  width: 300px;
  height: 300px;
  margin: auto;

}

.profile-pic{
  border-radius: 50%;
  position: relative;
  top: 40px;
  left: 40px;
  width: 220px;
  height: 220px;
}

.profile h3{
  font-size: 30px;
  text-align: center;
  margin-block-start: 10px;
  margin-block-end: 0;
}

.profile p, .about p{
  font-size: 1.25rem;
  margin-block-start: 5px;
}

.review{
  padding-top: 20px;
  padding-bottom: 10px;
}
.review p{
  margin-block-start: 0;
  margin-block-end: 0;
}
.rev-name{
  margin-block-start: 5px;
}

.role{
  font-size: 20px;
  color: var(--tertiary);
}

.royal-blue{
  background-color: #093C71;
}

.rs-points li{
  margin-bottom: 0;
}

.rs-points h2{
  font-size: 1.3rem;
  text-align: left;
}

.sandstone{
  background-color: #a09288;
}
.sandstone-coil{
  background-color: #AB9D8F;
}
.satin-white{
  background-color: #F0EFF2;
}
.sil-gray{
  background-color: #7F8480;
}

.secondary-hero{
  max-width: 100%;
  border-radius: 10px;
  max-height: 93vw;
}

.small-header-text{
  color: var(--tertiary);
  font-size: 1rem;
  margin-left: 5px;
}

.small-h2{
  font-size: 22px;
  color: var(--tertiary);
  text-align: left;
}

.smart-blue{
  background-color: #0283C0;
}

.steps{
  background-color: var(--primary);
  padding-bottom: 39px;
  padding-top: 48px;
}
.steps h2, .steps li, .steps p{
  color: var(--white);
}
.sunset-orange{
  background-color: #EB6A31;
}
.suppliers{
  padding-top: 40px;
  padding-bottom: 40px;
}

.suppliers p{
  color: var(--tertiary);
  text-align: center;
  margin-block-start: 0;
}

.suppliers-help{
  text-decoration: none;
  color: var(--primary);
  margin: 0 auto 50px;
  font-family: 'plus-Jakarta-Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.suppliers h2{
  margin-block-end: 0;
}

.tan-text{
  color: var(--secondary);
}
.brown-text{
  color: var(--primary);
}

.tan-h2{
  font-size: 1.35rem;
  color: var(--tertiary);
  background-color: #f8f8f8;
  padding-left: 0;
  text-align: left;
}
.teal{
  background-color: #0597A3;
}
.tinted{
  background-color: #454545;
}
.clear{
  background-color: #f8f8f8;
}
.frosted{
  background-color: #e8eceb;
}
.tinted, .clear, .frosted{
  height: 92px;
  width: 100%;
  border-radius: 5px;
}

.text-section{
  padding-top: 40px;
  padding-bottom: 50px;
}

.text-section .btn-main{
  margin-top: 45px;
}
.ultra-blue{
  background-color: #0C326E;
}

.video p, .video h2{
  margin-block-start: 0;
  margin-block-end: 0;
}
.video div{
  margin-top: 20px;
}

.video{
  padding-top: 20px;
  padding-bottom: 20px;
}

.white{
  background-color: #EAECEB;
}

.white-background{
  background-color: var(--white);
}


.works{
  padding-top: 30px;
}

.works ol{
  margin-bottom: 30px;
}

@media only screen and (min-width: 760px){

.buttons{
  display: flex;
  gap: 30px;
  margin: auto;
  max-width: max-content;
}

.buttons .btn-tan{
  margin: 10px 0;
}

.choices>div{
  max-width: 194px;
}

.color-choices>div{
  max-width: 96px;
}

.half-height{
  height: 400px;
}

.hero img{
  height: 400px;
  object-fit: cover;
}

.home-hero h1{
  margin-block-end: 10px;
}

 .logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: auto;
    gap: 1rem;
    flex-wrap: wrap;
  }

.options-choices>div{
  width: 32%;
}
.options-choices p{
  left: -20px;
}

.options-choices img{
  width: 100%;
}

.rs-points ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


}


@media only screen and (min-width: 1024px){

  :root{
    --padding: 80px;
    --neg-padding: -80px;
  }

  h1{
    font-size: 2.5rem;
  }

 input:not(.btn-main):not(.checkbox){
   width: 100%;
 }

 textarea{
   width: 100%;
 }

 .choices, .color-choices{
   gap: 3%;
 }

.choices>div{
  max-width: 144px;
}

  .choice h2:not(.operators h2) {

    text-align: left;
}

.custom-h2{
  text-align: left;
  font-size: 22px;
}

.cust-res-hero{
  object-position: 50% 69%;
}


  .dt-header{
    display: flex;
    justify-content: space-around;
    height: 70px;
    max-width: 100vw;
    position: sticky; top: 0;
    z-index: 25;
  }

  .form-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }

  .hamburger{
    display: none;
  }

  .header-row .phone-number{
    display: block;
    text-align: center;
  }

  .header-row{
    display: block;
  }

  .header-row-cont{
    display: flex;
  }

  .hero img{
    height: 440px;
  }

  .hero--text p{
    max-width: 950px;
    margin: auto;
  }

  .hero-section{
    padding-left: 0;
    padding-right: 0;
  }

  .hero-section p{
    padding:0 var(--padding);
  }

  .hero img{
    height: 550px;
    border-radius: 0;
  }

  .home-hero img{
    object-position: 50% 69%;
  }

  .ms-colors{
    padding-bottom: 24px;
  }

  .options-choices > div{
    width: 24%;
  }

  .residential img{
    object-position: 50% 62%;
  }

  .rs-points{
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  .secondary-hero{
    border-radius: 0;
    width: 100vw;
  }

  .logo{
    max-width: 240px;
  }

 

  .menu{
    display: flex;
    flex-direction: row;
  }

  .menu ul{
    display: flex;
      flex-direction: row;
  }

  .menu-item-dd{
    position: relative;
    cursor: pointer;
  }

  .menu a, .menu li{
    text-decoration: none;
    color: var(--primary);
    margin: 0 15px;
    font-family: 'plus-Jakarta-Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }

  .profile-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;

  }

  .secondary-hero{
    max-height: 44vw;
    object-fit: cover;
  }

  .steps ol, .works ol{
    max-width: 650px;
    margin: auto;
  }

  .top-padding{
    padding-top: 40px;
  }

  .video p{
    text-align: center;
  }
  .video div{
    margin: auto;
    max-width: 650px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1366px){

  :root{
    --padding: 20vw;
    --neg-padding: -20vw;
  }

    .hero img{
      height: 650px;
      width: 100vw;
    }

    .profile-parent{
      column-gap: 100px;
    }

    .secondary-hero{
      max-height: 34vw;
    }
}
