:root {
  --primary: #451310;
  --secondary: #797064;
  --tertiary: #B7A68E;
  --quaternary: #89949e;
  --quinary: #F8F8F8;
  --light-primary: #451411;
  --white: #ffffff;
  --black: #000000;
  --padding: 20px;
  --neg-padding: -20px;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

a{
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--quinary);
}

h1{
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  color: var(--primary);
  margin-block-start: 20px;
  text-align: center;
}

h2{
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 1.875rem;
  color: var(--primary);
  text-align: center;
}

footer{
  background-color: var(--primary);
}

footer a{
  color: var(--white);
  margin: auto;
  display: block;
  max-width: max-content;
  text-align: center;
  text-decoration: none;
}

header {

  justify-content: space-between;
  padding: 1.5rem var(--padding) 0;
  background-color: var(--primary);
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

li{
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  margin-bottom: 15px;
  }

p{
  font-size: 1.125rem;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
}

section {
  position: relative;
  padding: 0 var(--padding);
}

.btn-main{
  background-color: var(--light-primary);
  padding: 8px 50px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--quinary);
  margin: auto;
  display: block;
  max-width: max-content;
}

.btn-tan{
  background-color: var(--secondary);
  padding: 8px 29px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--quinary);
  margin: 10px auto;
  display: block;
  width: 205px;
}

.choice h2{
  background-color: var(--primary);
  color: var(--tertiary);
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 5px;
}

.choices{
  display: flex;
  flex-basis: 140px;
  gap: 10%;
  flex-wrap: wrap;
}
.choices>div{
  flex: 1;
  padding-bottom: 31px;
  position: relative;
}
.choices p{
  text-align: center;
  font-size: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 20px;
}

.cheap::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 15px;
    color: var(--primary);
}
.economy::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 12px;
    color: var(--primary);
}
.premium::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$$$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 9px;
    color: var(--primary);
}
.expensive::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "$$$$";
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 6px;
  color: var(--primary);
}


.details a{
  font-size: 10px;
}

.footer-contact{
  margin-bottom: 30px;
}

.footer-logo img{
  display: block;
  margin: auto;
  height: 113px;
  width: 254px;
}

.footer-logo{
  width: 100vw;
  height: 90px;
  margin: 0 auto 40px;
  display: block;
  top: 2px;
  position: relative;
  padding-top: 8px;
  z-index: 10;
  max-width: 100vw;
}

.header-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.hero img{
  height: 260px;
  width: 150%;
  position: relative;
  left: var(--neg-padding);
}

.heading{
  color: var(--black);
  text-align: center;
}

.hero--text p{
  color: var(--primary);
}

.hero--text{
  margin-bottom: 37px;
}

.logo img{
  height: 80%;
  margin: auto;
  display: block;
}

.logo{
  background-color: var(--white);
  width: 100vw;
  height: 90px;
  margin: 0 var(--neg-padding);
  display: block;
  top: 2px;
  position: relative;
  padding-top: 8px;
}

.logos img{
  max-width: 222px;
  max-height: 72px;
  display: block;
  margin: 62px auto;
}
.liftmaster{
  height: 29px;
}

.menu{
  display: none;
}

.menu ul, .mobile-menu ul{
  list-style-type: none;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.menu-items{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.menu-items a{
  text-align: center;
  font-size: 1.69rem;
  text-decoration: none;
  font-family: 'plus-Jakarta-Sans', sans-serif;
  font-weight: bold;
  color: var(--tertiary);
  margin: 1rem 0;
}

.mobile-menu{
  width: 0;
  height: 0;
  background-color: white;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.phone-number{
  font-size: 1.75rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--quinary);
  text-decoration: none;
}

.secondary-hero{
  max-width: 100%;
  border-radius: 10px;
  max-height: 93vw;
}

.small-header-text{
  color: var(--tertiary);
  font-size: 1rem;
  margin-left: 5px;
}

.steps{
  background-color: var(--primary);
  padding-bottom: 39px;
  padding-top: 48px;
}
.steps h2, .steps li, .steps p{
  color: var(--white);
}

.suppliers{
  padding-top: 40px;
}

.suppliers p{
  color: var(--tertiary);
  text-align: center;
  margin-block-start: 0;
}

.suppliers h2{
  margin-block-end: 0;
}

.tan-text{
  color: var(--secondary);
}
.brown-text{
  color: var(--primary);
}

.works{
  padding-top: 30px;
}

.works ol{
  margin-bottom: 30px;
}


@media only screen and (min-width: 1024px){

  .hamburger{
    display: none;
  }

  .menu{
    display: flex;
    flex-direction: row;
  }

  .menu ul{
    display: flex;
      flex-direction: row;
  }

  .menu a{
    text-decoration: none;
    color: white;
    margin: 0 1.5rem;
    font-family: 'plus-Jakarta-Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }
}
