<header>
  <div class="header-row">
    <a href="tel:8702759899" class="phone-number">870-275-9899 <span class="small-header-text">Call or Text</span></a>

    <div class="hamburger">
      <img src="/images/Icons_Menu.svg" alt="menu">
    </div>
    <div class="mobile-menu">
      <div class="menu-header">
        <div class="">
          <a href="tel:8702759899" class="phone-number">870-275-9899 <span class="small-header-text">Call or Text</span></a>
        </div>
        <div class="menu-close">
          <img src="/images/Icons_Close.svg" alt="">
        </div>
      </div>
      <div class="menu-items">
        <a href="/" class="menu-item">Home</a>
        <p class="menu-item-dd dd-link" id="dropdown">Residential</p>
        <div class="dropdown" id="dropdown-element">
          <a href="/residential-doors" class="menu-item">Residential Doors</a>
          <a href="/custom-residential" class="menu-item">Custom Residential</a>
          <a href="/residential-operators" class="menu-item">Residential Operators</a>
        </div>
        <p class="menu-item-dd dd-link" id="dropdown-m-com">Commercial</p>
        <div class="dropdown" id="dropdown-el-m-com">
          <a href="/commercial-doors" class="menu-item">Commercial Doors</a>
          <a href="/rolling-steel" class="menu-item">Commercial Rolling Steel</a>
          <a href="/commercial-operators" class="menu-item">Commercial Operators</a>
        </div>
        <a href="/faqs" class="menu-item">FAQs</a>
        <a href="/reviews" class="menu-item">Reviews</a>
        <a href="/about" class="menu-item">About</a>
        <a href="/contact" class="menu-item">Contact</a>
      </div>
    </div>
  </div>
  <div class="dt-header">
    <nav class="menu">
      <ul>
        <li id="dropdown-dt" class="menu-item-dd">Residential
        <div id="dropdown-element-dt" class="dropdown-dt">
           <a href="/residential-doors">Residential Doors</a>
           <a href="/custom-residential">Custom Residential</a>
           <a href="/residential-operators">Residential Operators</a>
        </div>
        </li>
        <li id="dropdown-com-dt" class="menu-item-dd">Commercial
        <div id="dropdown-com-element-dt" class="dropdown-com-dt">
          <a href="/commercial-doors">Commercial Doors</a>
          <a href="/rolling-steel">Rolling Steel</a>
          <a href="/commercial-operators">Commercial Operators</a>
        </div>
        </li>
        <li><a href="/faqs">FAQs</a></li>
      </ul>
    </nav>
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="">
    </a>
    <nav class="menu">
      <ul>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>

</header>
