
<div class="reviews-parent">

  {{ $reviews := getJSON "/data/reviews.json"}}
   <div class="reviews-slider disable-scrollbars">

   {{ $data_first := index $reviews 0 }}
   {{ range $reviews}}

     <div  id="_review8" itemprop="review" itemscope itemtype="http://schema.org/Review" class="review">
       <div class="rating">

       </div>
       <p class="rev-text brown-text big-p"> <span itemprop="reviewBody"> {{ .review_text }} </span> </p>
       <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><h5 class="rev-name light-tan-text">-{{ .author_title }} </h5></span></span>
       <p hidden class="rating-number"> {{ .review_rating }}</p>

     </div>
     {{end}}

   </div>
  </div>
  <script type="text/javascript">

    //adds the correct amount of stars to the review
     let reviews = document.querySelectorAll('.review')
     var i;

     for(i=0; i < reviews.length; i++){
       reviews[i].classList.add(i)
     }

     for (i=0; i<33; i++){
       review = document.getElementsByClassName(i)
       let rating = review[0].children[3].innerHTML
       let ratingNumber = Number(rating);
       let starParent = review[0].children[0];
       for (r=0; r<ratingNumber; r++){
         starParent.innerHTML += "<img src='/images/star.svg' alt='star rating'>"
       }



     }


  </script>
